aiohttp==3.7.4.post0
altgraph==0.17.2
anyio==3.5.0
appdirs==1.4.4
async-timeout==3.0.1
attrs==21.4.0
Beaker==1.11.0
Brlapi==0.8.3
btrfsutil==5.16.2
CacheControl==0.12.6
catfish==4.16.3
certifi==2021.10.8
cffi==1.15.0
chardet==4.0.0
charset-normalizer==2.0.12
colorama==0.4.4
contextlib2==0.6.0.post1
cryptography==36.0.1
cycler==0.10.0
dearpygui==1.3.1
discord.py==1.7.3
distlib==0.3.4
distro==1.6.0
dnspython==2.2.0
fonttools==4.29.1
gps==3.23.1
h11==0.12.0
html5lib==1.1
httpcore==0.14.7
httpx==0.22.0
idna==3.3
importlib-metadata==4.8.1
injector==0.19.0
kiwisolver==1.3.2
libfdt==1.6.1
libvirt-python==8.0.0
louis==3.20.0
Mako==1.1.6
Markdown==3.3.6
MarkupSafe==2.0.1
matplotlib==3.5.1
meld==3.20.4
mercurial==6.0.2
minecraft-launcher-lib==4.4
more-itertools==8.10.0
msgpack==1.0.3
mugshot==0.4.3
multidict==6.0.2
nftables==0.1
numpy==1.22.2
onboard==1.4.1
optimus-manager==1.4
ordered-set==4.0.2
packaging==20.9
peewee==3.14.8
pep517==0.12.0
pexpect==4.8.0
pikaur==1.10.1
Pillow==9.0.1
playsound==1.3.0
ply==3.11
progress==1.6
psutil==5.9.0
ptyprocess==0.7.0
pwquality==1.4.4
py3nvml==0.2.7
pyalpm==0.10.6
pycairo==1.20.1
pycparser==2.21
pyfzf==0.3.0
PyGObject==3.42.0
pyinstaller==4.9
pyinstaller-hooks-contrib==2022.2
pyOpenSSL==21.0.0
pyparsing==3.0.0
pyparted==3.11.7
python-dateutil==2.8.2
python-prctl==1.8.1
python-xapp==2.2.1
python-xlib==0.31
pytube==12.0.0
pyxdg==0.27
Reflector==2021.11.20.2.41.3
requests==2.27.1
resolvelib==0.5.5
retrying==1.3.3
rfc3986==1.5.0
Rx==3.2.0
setproctitle==1.2.2
six==1.16.0
sniffio==1.2.0
team==1.0
toml==0.10.2
tomli==2.0.0
typing-extensions==4.1.0
urllib3==1.26.8
webencodings==0.5.1
yarl==1.7.2
youtube-dl==2021.12.17
youtube-search-python==1.6.2
yt-dlp==2022.2.4
zipp==3.7.0
